.card-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1;
}

.card-img-wrapper {
  height: 250px;
  overflow: hidden;
}

.card-img-wrapper img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  object-fit: cover;
}

.card-desc {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(237, 239, 238);
}

.card-price {
  color: rgb(238, 153, 114);
}
